* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgb(238, 238, 238);
}

.header {
    font-family: 'Righteous', cursive;
    font-size: 44px;
}

/* TOPO - início */
.topBar {
    background-color: rgba(207, 43, 43, 1);
    height: 92px;
    width: 100%;
    box-shadow: 0 1px 10px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.margin {
    margin-left: 21px;
}
/* TOPO - fim */

/* Menus - início */
.menus {
    margin-top: 123px;
    margin-bottom: 108px;
    position: relative;
}
.title {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: rgb(0, 0, 0);
    margin-left: 21px;
}
.pratos {
    display: flex;
    overflow-x: scroll;
}
.bebidas {
    display: flex;
    overflow-x: scroll;
}
.sobremesas {
    display: flex;
    overflow-x: scroll;
}
button {
    border: none;
    background-color: #fff;
    padding: 14px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}
button:first-child {
    margin-left: 21px;
}
button:last-child {
    margin-right: 21px;
}
#icon {
    position: absolute;
    right: 14px;
    bottom: 11px;
}
.foto {
    width: 144px;
    height: 87px;
    margin-bottom: 8px;
}   
.description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    width: 144px;
    margin: 0 auto;
    position: relative;
}
.menu {
    width: 172px;
    height: 216px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin: 17px 16px 27px 0;
}
.font1 {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    margin: 0 auto 10px auto;
}
.font2 {
    width: 100%;
    font-size: 15px;
    color: rgba(166, 166, 166, 1);
    margin-bottom: 10px;
}
.font3 {
    width: 100%;
    font-size: 16px;
    color: black;
}
/* Menus - fim */

/* BOTTOMBAR - início */
.bottomBar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 92px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 1em rgba(0, 0, 0, .25);
    z-index: 2;
}
.selecionarPedidos {
    height: 61px;
    width: 364px;
    background: rgba(203, 203, 203, 1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-size: 20px;
    padding-right: 60px;
    padding-left: 60px;
}
.pedidosSelecionados {
    display: flex;
    height: 61px;
    width: 364px;
    background: rgba(203, 203, 203, 1);
    border-radius: 50px;
    margin: 50px;
    font-size: 20px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: rgb(238, 238, 238);
    background-color: rgba(50, 183, 47, 1);
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
/* BOTTOMBAR - final */

/* Aplicar borda verde - início */
.boxShadowVerde {
    box-shadow: 0 0 0 5px rgba(50, 183, 47, 1) inset;
}

ion-icon {
    background-color: #fff;
    color: rgba(50, 183, 47, 1);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin: 0;
}

.esconder {
    display: none;
}

.boxShadowVerde .esconder {
    display: initial;
}
/* Aplicar borda verde - final */

/* Confirmar pedido - início */

.confirmarPedido {
    position: fixed;
    bottom: calc(((100vh - 353px) / 2));
    height: 353px;
    width: 377px;
    margin-left: 20px;
    background: rgba(80, 208, 116, 1);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    z-index: 1;
    padding: 25px;
    border-radius: 9px;
}

.confirmacao {
    display: flex;
    justify-content: space-between;
    text-align: end;
    margin-bottom: 13px;
    font-size: 22px;
}

.confirmacao:nth-child(5) {
    font-size: 22px;
    font-weight: bold;
}

.tituloConfirmação {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
}

.confirmarPedido button:first-child {
    margin: 30px 0 20px;
    width: 100%;
    border-radius: 100px;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    Color: rgba(80, 208, 116, 1);
}

.confirmar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmar button:last-child {
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: rgb(238, 238, 238);;
}

.sobremesas:last-child {
    margin-right: 20px;
}

/* Confirmar pedido - final */