* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgb(238, 238, 238);
}

.header {
    font-family: 'Righteous', cursive;
    font-size: 44px;
}

/* TOPO - início */
.topBar {
    background-color: rgba(207, 43, 43, 1);
    height: 92px;
    width: 100%;
    box-shadow: 0 1px 10px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
.margin {
    margin-left: 21px;
}
/* TOPO - fim */

/* Menus - início */
.menus {
    margin-top: 123px;
    margin-bottom: 108px;
}
.title {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: rgb(0, 0, 0);
    margin-left: 21px;
}
.opcoes {
    display: flex;
    overflow-x: scroll;
}
button {
    border: none;
    background-color: #fff;
    padding: 14px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
button:first-child {
    margin-left: 21px;
}
button:last-child {
    margin-right: 21px;
}
.foto {
    width: 144px;
    height: 87px;
    margin-bottom: 8px;
}   
.description {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    width: 144px;
    margin: 0 auto;
}
.menu {
    width: 172px;
    height: 216px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin: 17px 16px 27px 0;
}
.font1 {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    margin: 0 auto 10px auto;
}
.font2 {
    width: 100%;
    font-size: 15px;
    color: rgba(166, 166, 166, 1);
    margin-bottom: 10px;
}
.font3 {
    width: 100%;
    font-size: 16px;
    color: black;
}
/* Menus - fim */

/* BOTTOMBAR - início */
.bottomBar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 92px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 1em rgba(0, 0, 0, .25);
}
.selecionarPedidos {
    height: 61px;
    width: 364px;
    background: rgba(203, 203, 203, 1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-size: 20px;
}
.selecionarPedidos h3{
    height: 40px;
    width: 194px;
    margin: 60px;
}
/* BOTTOMBAR - final */